<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/cu_style.css')}}"    >
    <link rel="stylesheet" href="{{url_for('static', filename='css/fontawesome-all.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/libs_style.css')}}"    >
    <link rel="stylesheet" href="{{url_for('static', filename='css/materialdesignicons.min.css')}}"    >


<script src="{{url_for('static',filename ='js/jquery-3.3.1.min.js')}}"></script>
        <script src="{{url_for('static',filename ='js/bootstrap.bundle.js')}}"></script>
        <script src="{{url_for('static', filename ='js/jquery.slimscroll.js')}}"></script>
        <script src="{{url_for('static', filename ='js/main-js.js')}}"></script>
        {% block content_js %}